<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome html default</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
</head>
<body>
	<h1>Hello, world!</h1>
	<form>
            <textarea name="editor1" id="editor1" rows="10" cols="80">
                <strong><span style="color: #0070c0;">WELCOME
TO ICSSE 2017</span></strong>
            </textarea>
            <script type="text/javascript">
		CKEDITOR.replace("editor1");
	</script>
        </form>
</body>
</html>